@model AgendamentoProjeto.Models.Usuario
@{
    ViewData["Title"] = "Logar";
    Layout = "_LayoutLogin";
}


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/login.css" />
<body id="backColor">
    @if (TempData["msgSucesso"] != null)
    {
        <div class="alert alert-info alert-dismissable mt-3">
            <strong>@TempData["msgSucesso"]</strong>
        </div>
    }

    <div class="backgroundImage">
        <img src="~/img/imagefundo.jpg" class="w-100 h-100" />
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="col-md-8 offset-md-2">
                <div class="card rounded shadow-sm mt-5 surge">
                    <h2 class="text-center pt-2 text-info">Tela de Login</h2>
                    <form asp-action="Logar" class="p-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <label asp-for="Login" class="control-label text-center"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Senha" class="text-center"></label>
                            <input type="password" asp-for="Senha" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="text-center pt-2">
                            <label asp-for="Cargo" class="control-label"></label>
                            <select asp-for="CargoId" class="form-control" asp-items="ViewBag.CargoId"></select>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6 offset-md-0 col-sm-6 offset-sm-3 form-group text-center">
                                <a asp-action="EsqueciSenha" id="EsqueciSenha" class="btn btn-outline-secondary w-100">Esqueci minha senha</a>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group text-center">
                                <input type="submit" value="Entrar" class="btn btn-info text-center w-100" />
                            </div>
                        </div>
                        <div class="text-center">
                            <a asp-action="GerarSenha" class="labelStyle text-decoration-none"><hr />Eu não possuo uma senha<hr /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}