@model AgendamentoProjeto.Models.Aviso

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.TemAviso == true)
{
    <div class="alert alert-danger mt-2" style="height:45px;">
        <p><strong>Já existe Esse Aviso!</strong></p>
    </div>

}


<h1>Editar</h1>

<h4>Aviso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AvisosId" />
           
            <div class="form-group">
                <label asp-for="Mensagem" class="control-label"></label>
                <input asp-for="Mensagem" class="form-control" />
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
