@model AgendamentoProjeto.Models.Disciplina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Atualizar Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisciplinaId" />
            <div class="form-group">
                <label asp-for="NomeDisciplina" class="control-label"></label>
                <input asp-for="NomeDisciplina" class="form-control" />
                <span asp-validation-for="NomeDisciplina" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <input type="submit" value="Salvar" style="background-color:darkblue" class="btn text-white" />
                <a asp-action="Index" style="background-color:dodgerblue;" class="btn ml-2 text-white">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
