@model AgendamentoProjeto.Models.Curso
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    if (HttpContextAccessor.HttpContext.Session.GetString("Cargo") == "T.I")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutCoordenador";
    }
}

<h4 class="mt-4 text-primary">Adicionar Curso</h4>
<hr />

<div class="row ">
    <div class="mt-3">
        <form asp-action="Create" class="formCenter border border-primary rounded bg-light pt-xl-5 pb-xl-5" style="padding-left:100px;padding-right:100px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label font-weight-bold text-primary"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group d-flex">
                <input type="submit" value="Registrar" class="btn btn-success text-white" />
                <a asp-action="Index" class="btn ml-2 btn-info text-white">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

