@model AgendamentoProjeto.Models.Professor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProfessorId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
