@model AgendamentoProjeto.Models.Professor
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    if (HttpContextAccessor.HttpContext.Session.GetString("Cargo") == "T.I")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutCoordenador";
    }
}

    <div>
        @if (ViewBag.TemProfessor != null)
        {
            <div class="alert alert-danger mt-2" style="height:45px;">
                <p><strong>@ViewBag.TemProfessor!</strong></p>
            </div>
        }

        <h4 class=" text-primary">Atualizar Professor</h4>
        <hr />

        <div class="row">
            <div class="mt-5">
                <form asp-action="Edit" class="formCenter border border-primary rounded bg-light pt-xl-5 pb-xl-5 mt-5" style="padding-left:100px;padding-right:100px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProfessorId" />
                    <div class="form-group">
                        <label asp-for="NomeProfessor" class="control-label"></label>
                        <input asp-for="NomeProfessor" class="form-control" />
                        <span asp-validation-for="NomeProfessor" class="text-danger"></span>

                        <label asp-for="EmailProfessor" class="control-label font-weight-bold text-primary"></label>
                        <input asp-for="EmailProfessor" class="form-control" />
                        <span asp-validation-for="EmailProfessor" class="text-danger"></span>

                    </div>
                    <div class="form-group d-flex">
                        <input type="submit" value="Salvar" class="btn btn-success text-white" />
                        <a asp-action="Index" class="btn ml-2 btn-info text-white">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
