@model AgendamentoProjeto.Models.Usuario
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
    if (HttpContextAccessor.HttpContext.Session.GetString("Cargo") == "T.I")
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutCoordenador";
    }
}

@if (ViewBag.EmailRepetido == true)
{
    <div class="alert alert-danger">
        <strong>E-mail  já utilizado no sistema favor insira outro e-mail</strong>
    </div>
}

@if (ViewBag.LoginRepetido == true)
{
    <div class="alert alert-danger">
        <strong>Login  já utilizado no sistema favor insira outro Login</strong>
    </div>
}


<h4 class="mt-4 text-primary">Adicionar Usuário</h4>
<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="border border-primary rounded bg-light pt-xl-5 pb-xl-5 col-md-5 ml-3" style="padding-left:100px;padding-right:100px;">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeUsuario" class="control-label"></label>
                <input asp-for="NomeUsuario" class="form-control" />
                <span asp-validation-for="NomeUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cargo</label>
                <select asp-for="CargoId" class="form-control" asp-items="ViewBag.CargoId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Curso</label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn ml-2 btn-info text-white">Voltar</a>
            </div>
        </form>
    </div>
    <div class="col-md-3">

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
